@charset "UTF-8";
*{font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;font-size:100%;line-height:160%;color:#333;font-style:normal;font-weight:normal;padding:0;margin:0}

h1{font-size:120%;font-weight:bold}
h1:before{content:"■"}
.cnt{width:400px;font-size:14px}
.conBoxTable{font-size:12px;border-top:1px solid #cfcfcf;border-left:1px solid #cfcfcf}
.conBoxTable th, .conBoxTable td{border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;padding:3px;vertical-align:top;}
.conBoxTable th{width:6em;background-color:#ddd;}
